.place__image {
  max-width: 460px;
  width: 100%;
  height: auto;
  grid-area: image;
  margin-top: 48px;
}
@media screen and (max-width: 631px) {
  .place__image {
    max-width: 631px;
    margin-top: 32px;
  }
}