.place__text {
  grid-area: article;
  margin: auto;
  margin-top: 48px;
}
@media screen and (max-width: 968px){ 
  .place__text {
    padding-right: 24px;
  }
}

@media screen and (max-width: 631px) {
  .place__text {
    margin-top: 32px;
  }
}