.links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-top: 46px;
  margin-bottom: 0;
  margin-right: 48px;
}
@media screen and (max-width: 984px) {
  .links {
    margin-right: 24px;
  }
}
@media screen and (max-width: 568px) {
  .links {
    margin-top: 30px;
    margin-right: 16px;
  }
}

