.lead__subtitle {
  max-width: 640px;
  margin: auto;
  margin-top: 32px;
  color: white;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
@media screen and (max-width: 725px){
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    padding: 0 16px;
  }
}