.place {
  max-height: 660px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "title website"
    "image article";
}
.place:first-child {
  margin-top: 0;
}
/* @media screen and (max-width: 1050px){
  .place {
    max-height: 440px;
  }
} */
@media screen and (max-width: 631px) {
  .place {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    grid-template-areas: 
    "title title"
    "website website"
    "image image"
    "article article";
  }
}