.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: end;

  padding: 0 8px;
}
@media screen and (max-width: 631px) {
  .place__website {
    margin-top: 32px;
    margin-left: 16px;
    padding: 0;
  }
}